<% @posts.each do |post|%>
    <%  if post.text?%>
        <p><%= post.text%></p>
    <%end%>
    <% if post.image.attached? %>
    <%= image_tag post.image ,class:"img-thumbnail profile" %>
    <%end%>     
<%end%>