/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

nav {
  padding: 2px 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid rgb(228, 222, 222);
}

nav form {
  display: flex;
  flex-direction: row;
}

nav form input {
  height: 36px;
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a i {
  color: black;
}

nav .profile {
  height: 37px;
  border-radius: 50%;
  padding-bottom: 5px;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  padding-top: 30px;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-ul li {
  padding-left: 10px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  margin: 10px 17%;
  padding: 20px;
  border-bottom: 1px solid rgb(228, 222, 222);
}

.user-profile img {
  display: flex;
  border-radius: 50%;
  margin-right: 50px;
  height: 150px;
}

.user-profile .user-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
}

.user-profile .user-info .user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.edit-user ul li {
  font-size: 16px;
  padding: 8px 3px;
}

.user-profile .user-info .user li {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}

/* Edit user page css */

.edit-user {
  margin: 3% 8%;
  background-color: whitesmoke;
  border: 1px solid rgb(228, 222, 222);
  display: flex;
  flex-direction: row;
}

.edit-user ul {
  list-style: none;
  border-right: 1px solid rgb(228, 222, 222);
}

.edit-profile img {
  display: flex;
  border-radius: 50%;
  margin-right: 50px;
  height: 120px;
}

.post-div {
  height: 120px;
}

.post-div img {
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
}

.post-div textarea {
  border: none;
  margin: 10px;
  padding: 25px 10px;
}

.img-field {
  display: flex;
  flex-direction: row;
  margin: 5px 10%;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10%;
}

.img-div img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(214, 207, 207);
}