/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

nav {
  padding: 2px 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid rgb(228, 222, 222);
}

nav form {
  display: flex;
  flex-direction: row;
}

nav form input {
  height: 36px;
  margin: 7px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a i {
  color: black;
}

nav .profile {
  height: 37px;
  border-radius: 50%;
  padding-bottom: 5px;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  padding-top: 30px;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-ul li {
  padding-left: 10px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  margin: 10px 17%;
  padding: 20px;
  border-bottom: 1px solid rgb(228, 222, 222);
}

.user-profile img {
  display: flex;
  border-radius: 50%;
  margin-right: 50px;
  height: 150px;
}

.user-profile .user-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
}

.user-profile .user-info .user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.edit-user ul li {
  font-size: 16px;
  padding: 8px 3px;
}

.user-profile .user-info .user li {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}

/* Edit user page css */

.edit-user {
  margin: 3% 8%;
  background-color: whitesmoke;
  border: 1px solid rgb(228, 222, 222);
  display: flex;
  flex-direction: row;
}

.edit-user ul {
  list-style: none;
  border-right: 1px solid rgb(228, 222, 222);
}

.edit-profile img {
  display: flex;
  border-radius: 50%;
  margin-right: 50px;
  height: 120px;
}

.post-div {
  height: 120px;
}

.post-div img {
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
}

.post-div textarea {
  border: none;
  margin: 10px;
  padding: 25px 10px;
}

.img-field {
  display: flex;
  flex-direction: row;
  margin: 5px 10%;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10%;
}

.img-div img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(214, 207, 207);
}

/* post index css */

.all-posts {
  width: 46%;
  margin: 10px 25%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(211, 207, 207);
}

.all-posts .profile {
  width: 100%;
  border-top: 1px solid rgb(211, 207, 207);
}

.post-detail .post-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.post-icons i {
  font-size: 22px;
  padding: 2px 6px;
  line-height: 40px;
  font-weight: 900;
  cursor: pointer;
}

.post-icons i:hover {
  color: brown;
}

.all-posts .post-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 5px 0;
  /* background-color: whitesmoke; */
}

.all-posts .post-user .post-user-info,
.popup-body .post-user .post-user-info {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.all-posts .post-user img,
.popup-body .post-user img {
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
}

/* single user posts user posts */

.posts-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 17%;
  padding: 20px;
}

.posts-user .inner-div{
  position: relative;
}

.posts-user img {
  height: 330px;
  margin: 10x;
  width: 330px;
}

.posts-user .post-icon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 92%;
  opacity: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts-user .post-icon p {
  margin-top: 50%;
  color: white;
}

.posts-user .inner-div:hover .post-icon {
  /* opacity: 0.7; */
  opacity: 1;
}

.popup {
  height: 80vh;
}

.popup .popup-content {
  height: 100%;
  margin: 0;
  padding: 0;
}

.popup .popup-content img {
  width: 50%;
  height: 100%;
  /* margin-right: 1%; */
}

.popup-body {
  width: 100%;
}

.popup-body .post-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
  height: 60px;
  border-bottom: 1px solid rgb(228, 222, 222);
  /* background-color: whitesmoke; */
}

.popup-body .post-comments {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
  height: 280px;
  border-bottom: 1px solid rgb(228, 222, 222);
  /* background-color: whitesmoke; */
}

.popup-body form {
  border-top: 1px solid rgb(228, 222, 222);
}
.popup-body form input {
  border: none;
}

.active {
  color: red;
}